:root {
  --font-main: "Lato", sans-serif;

  --heading-color: #008a9a;
  --title-color: #061943;
  --text-color: #000000;

  --h1-size: 62px;
  --h2-size: 30px;
  --h3-size: 22px;
  --p-size: 18px;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
}

h1 {
  font-size: var(--h1-size);
  font-weight: 900;
  color: var(--title-color);
}

h2 {
  font-size: var(--h2-size);
  font-weight: 900;
  color: var(--heading-color);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 700;
  color: var(--title-color);
}

p {
  font-size: var(--p-size);
  font-weight: 600;
  line-height: 1.7;
  color: var(--text-color);
}